<style>

.slider-test {
  display: flex;
  width: 90vw;
}

.panel {
  min-height: 50vh;
  height: auto;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  transition: flex 0.7s ease-in;
  background: #d291bc;
}

.panel-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  padding: 10px;
  text-align: center;
  height: 100%;
  transition: all 0.7s ease-in;
}

.panel .image {
  padding: 0;
  margin: 0;
  max-width: 250px;
  max-height: 600px;
}

.panel .image .person {
  max-width: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.name {
  font-weight: 900;
}

.name-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}

.rating .fa {
  color: #ffd700;
}

.panel.active {
  flex: 1;
  background: #fff;
}

.panel.active .panel-content {
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vh;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />  

<h1> Testimonials</h1>
  <div class="slider-test">
    <div class="panel active" style="border: 1px solid #E0BBE4;"> 
      <div class="panel-content">
        <div class="image"><img class = "person" src="https://images.pexels.com/photos/1181690/pexels-photo-1181690.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"></div>
          <div class="name-container">
            <div class="name">Alex Jordan</div>
            <div class="rating">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="text">
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse aut, quod incidunt, tempora, laborum odit at eaque doloribus rerum facere."
          </div>          
      </div>   
       <!--panel content  -->
    </div>
    <div class="panel" style="border: 1px solid #957DAD;">
      <div class="panel-content">
        <div class="image"><img class = "person" src="https://images.pexels.com/photos/1266193/pexels-photo-1266193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></div>
          <div class="name-container">
            <div class="name">Adhira Agarwal</div>
            <div class="rating">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="text">
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse aut, quod incidunt, tempora, laborum odit at eaque doloribus rerum facere."
          </div>          
      </div>   
       <!--panel content  -->
    </div>
    <div class="panel" style="border: 1px solid #D291BC;">
      <div class="panel-content">
        <div class="image"><img class = "person" src="https://images.pexels.com/photos/3769021/pexels-photo-3769021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></div>
          <div class="name-container">
            <div class="name">Andrea Williams</div>
            <div class="rating">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="text">
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse aut, quod incidunt, tempora, laborum odit at eaque doloribus rerum facere."
          </div>          
      </div>   
       <!--panel content  -->
    </div>
    <div class="panel" style="border: 1px solid #FEC8D8;">
      <div class="panel-content">
        <div class="image"><img class = "person" src="https://images.pexels.com/photos/3843382/pexels-photo-3843382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></div>
          <div class="name-container">
            <div class="name">Leila Masterson</div>
            <div class="rating">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="text">
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse aut, quod incidunt, tempora, laborum odit at eaque doloribus rerum facere."
          </div>          
      </div>   
       <!--panel content  -->
    </div>
    <div class="panel" style="border: 1px solid#957DAD;">
      <div class="panel-content">
        <div class="image"><img class = "person" src="https://images.pexels.com/photos/3184405/pexels-photo-3184405.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></div>
          <div class="name-container">
            <div class="name">Taylor Kennedy</div>
            <div class="rating">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="text">
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse aut, quod incidunt, tempora, laborum odit at eaque doloribus rerum facere."
          </div>          
      </div>   
       <!--panel content  -->
    </div>
    <div class="panel" style="border: 1px solid #D291BC;">
      <div class="panel-content">
        <div class="image"><img class = "person" src="https://images.pexels.com/photos/4428046/pexels-photo-4428046.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></div>
          <div class="name-container">
            <div class="name">Karen Smith</div>
            <div class="rating">
               <i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
            </div>
          </div>
          <div class="text">
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse aut, quod incidunt, tempora, laborum odit at eaque doloribus rerum facere."
          </div>          
      </div>   
       <!--panel content  -->
    </div>
  </div>

  <script>
    const panels = document.querySelectorAll('.panel');

panels.forEach((panel) => {
  panel.addEventListener('click', () => {
    removeActiveClass();
    panel.classList.add('active');
  });
});

function removeActiveClass() {
  panels.forEach((panel) => {
    panel.classList.remove('active');
  });
}
  </script>