@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face {
    font-family: 'gradus-font';
    src: url('../font/gradus-font/Fontspring-DEMO-gradus-bold.otf');
}


$primary_color : #AE278B;
$black_color: #000000;
$white_color: #FFFFFF;
$nunito_font: "Nunito Sans", sans-serif;
$dancing_font :"Dancing Script",
cursive;
$inter_font: "Inter", sans-serif;
$dm-font: "DM Sans", sans-serif;
$gradus-font: 'gradus-font';
$page_width: 160rem;

// Mixins of media query
$mobile: 768px;
$tab: 999px;
$ipad: 1024px;





body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
}


// base style

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.page-width {
    max-width: $page_width;
    margin: 0 auto;
    padding: 0 1.875rem;
}

// Header style
header {
    .topbar {
        background-color: #000;
        padding: 7px 0;

        .round-bx {

            background-color: $primary_color;

            width: 30px;
            height: 30px;

            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;


            img {
                width: 25px;
            }
        }

        .marq-text {
            padding: 0 17px;
            font-size: 15px;
        }
    }



    .content-box {
        padding: 12px 0;

        .logo-box {
            button {
                display: none;
            }
        }

        .search-box {
            border-radius: 16px;
            border: 1px solid #B9B9B9;
            background: $white_color;
            position: relative;
            width: 100%;

            input {
                background-color: transparent;
                border: none;
                width: 100%;
                padding: 11px 23px;

                &:focus {
                    border: none;
                    box-shadow: none;
                    outline: none;
                }
            }

            button {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
                border: none;
                box-shadow: none;
                background-color: transparent;
            }
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 36px;
    }



    .navbar {
        border-top: 1px solid #939393;
        border-bottom: 1px solid #939393;

        .navbar-nav {
            display: flex;
            gap: 50px;
        }

        .nav-item {
            .nav-link {
                text-align: center;
                font-family: $nunito_font;
                font-size: 16.2px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.648px;
                text-transform: capitalize;
                color: $black_color;
                transition: all 0.3s ease-in-out;
            }

            .nav-link:hover {
                color: $primary_color;
                transition: all 0.3s ease-in-out;
                font-size: 16.5px;

            }
        }
    }
}

// hero section

.hero-section {
    border-radius: 30px;

    .swiper {
        border-radius: 30px;

        .swiper-pagination-bullet-active {
            background-color: $white_color !important;
        }


    }

    .img-box {
        padding: 20px 0 0 0;
        border-radius: 30px;

        img {
            border-radius: 30px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

// Product Section


.product-section {
    padding: 50px 0 0 0;

    .content-box {
        border-radius: 30px;
        background: #F2F2F2;

        position: relative;

        .swiper {
            padding: 68px 0;
        }

        .swiper-button-lock {
            display: block;
        }

        .item {
            .img-box {
                position: relative;
                text-align: center;

                svg {
                    transition: all 0.3s ease-in-out;
                }



                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                }
            }

            p {
                color: $black_color;
                text-align: center;
                font-family: $nunito_font;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.8px;
                text-transform: capitalize;
                width: 70%;
                margin: auto;
                padding: 40px 0 0 0;
            }
        }

        .item:hover {
            .img-box {
                svg {
                    transform: scale(1.6);
                    transition: all 0.3s ease-in-out;
                }

                img {
                    transform: translate(-50%, -50%) scale(1.2);
                    transition: all 0.3s ease-in-out;
                }
            }
        }


    }
}


// offer section

.offer-section {
    padding: 50px 0 0;

    .content-box {
        display: grid;
        grid-template-columns: 1fr 4fr;

        .left {

            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                color: #3FC6EF;
                font-family: $dancing_font;
                font-size: 48px;
                font-weight: 700;
                line-height: 50px;
                text-transform: capitalize;
            }

            h2 {
                color: #000;
                font-family: 'gradus-font';
                font-size: 48px;
                font-weight: 700;
                line-height: 50px;
                text-transform: capitalize;
            }
        }

        .right {
            display: flex;
            gap: 20px;

            .box {
                position: relative;
                overflow: hidden;
                border-radius: 30px;
                transition: all 0.4s ease-in-out;

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 30px;
                    opacity: 0.1;
                    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
                }

                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 89%;
                    text-align: center;
                    font-family: $nunito_font;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: -0.8px;
                    color: #000;
                    text-transform: capitalize;
                    transition: all 0.4s ease-in-out;
                }

                svg {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    opacity: 1;
                    transition: opacity 0.4s ease-in-out;
                }

                // Hover effect
                &:hover {
                    img {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    p {
                        opacity: 0;

                    }

                    svg {
                        opacity: 0;
                    }
                }
            }

            // Background overlays using SCSS map and loop
            $box-colors: (
                1: #88BBCB20,
                2: #D398C420,
                3: #E7F1F520,
                4: #F6EAF320
            );

        @each $i, $color in $box-colors {
            .box:nth-child(#{$i})::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color;
            }
        }
    }
}
}


// ribbon one

.ribbon_one {
    padding: 50px 0 0 0;

    .content-box {
        position: relative;
        overflow: hidden;
        border-radius: 30px;

        img {
            transition: all 0.3s ease-in-out;
            width: 100%;
        }

    }

    &:hover {
        img {
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }

        a {
            background-color: $primary_color;
            color: $black_color;
        }

    }

    .text-box {

        position: absolute;
        left: 100px;
        top: 50%;
        transform: translate(0, -50%);

        h3 {
            color: #FFF;
            font-family: $dancing_font;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 50px;

            text-transform: capitalize;
            margin: 0;
            padding: 0 0 6px 0;
        }

        h2 {
            color: #FFF;
            font-family: 'gradus-font';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;

            text-transform: capitalize;
            padding: 0 0 18px 0;
            margin: 0;
        }

        a {
            color: #FFF;
            font-family: "Nunito Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 60px;
            /* 428.571% */
            text-transform: capitalize;
            border-radius: 50px;
            background: rgba(10, 10, 10, 0.20);
            padding: 7px 17px;

        }
    }
}

// ribbon two
.ribbon_two {
    padding: 20px 0 0 0;

    .content-box {
        position: relative;
        overflow: hidden;
        border-radius: 30px;

        img {
            transition: all 0.3s ease-in-out;
            width: 100%;
        }

    }

    &:hover {

        img {
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }

        a {
            background-color: $primary_color;
            color: $black_color;
        }

    }

    .text-box {

        position: absolute;
        right: 100px;
        top: 50%;
        transform: translate(0, -50%);

        h3 {
            color: #FFF;
            font-family: $dancing_font;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 50px;

            text-transform: capitalize;
            margin: 0;
            padding: 0 0 8px 0;
        }

        h2 {
            color: #FFF;
            font-family: 'gradus-font';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;

            text-transform: capitalize;
            margin: 0;
            padding: 0 0 20px 0;
        }

        a {
            color: #FFF;
            font-family: "Nunito Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 60px;
            /* 428.571% */
            text-transform: capitalize;
            border-radius: 50px;
            background: rgba(10, 10, 10, 0.20);
            padding: 7px 17px;

        }
    }
}

// ribbon three

.ribbon_three {
    padding: 20px 0 0 0;

    .content-box {
        position: relative;



        .text-box {
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translate(0, -50%);
            width: 50%;
            z-index: 1;

            h3 {
                color: $white_color;
                font-family: $dancing_font;
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 50px;

                text-transform: capitalize;
                margin: 0;
                padding: 0 0 18px 0;
            }

            h2 {
                color: $white_color;
                font-family: 'gradus-font';
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px;

                text-transform: capitalize;
                margin: 0;
                padding: 0 0 26px 0;
            }

            p {
                color: $white_color;
                font-family: $nunito_font;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.8px;
                text-transform: capitalize;
                margin: 0;
                padding: 0 0 25px 0;
            }

            a {
                color: $black_color;
                text-align: center;
                font-family: $nunito_font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 60px;
                text-transform: capitalize;
                padding: 7px 25px;
                background-color: $white_color;
                border-radius: 50px;
            }
        }

        .icon-box {
            position: absolute;
            right: 100px;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 1;

            svg {

                transition: all 0.3s ease-in;

                circle {

                    transition: all 0.3s ease-in;
                }

                path {

                    transition: all 0.3s ease-in;
                }
            }

        }

        .img-box {
            position: relative;
            overflow: hidden;
            border-radius: 30px;


            img {
                transition: all 0.3s ease-in;
                width: 100%;
            }
        }




    }

    &:hover {
        img {
            transform: scale(1.06);
            transition: all 0.3s ease-in;
        }

        .icon-box {
            svg {
                fill: $white_color;
                transition: all 0.3s ease-in;

                circle {
                    opacity: 1;
                    transition: all 0.3s ease-in;
                }

                path {
                    fill: #AE278B;
                    transition: all 0.3s ease-in;
                }
            }
        }
    }
}


// About section

.about-section {
    padding: 50px 0 0 0;

    .content-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 100px;

        h2 {
            color: #AE278B;
            font-family: $dancing_font;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            text-transform: capitalize;
            margin: 0;
            padding: 0 0 10px 0;
        }

        h3 {
            color: #000;
            font-family: 'gradus-font';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            margin: 0;
            padding: 0 0 30px 0;
            letter-spacing: -0.96px;
            text-transform: capitalize;
        }

        p {
            color: #000;
            font-family: $nunito_font;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.8px;
            text-transform: capitalize;
            margin: 0;
            padding: 0 0 28px 0;
        }

        a {
            color: #000;
            font-family: $nunito_font;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 60px;
            /* 428.571% */
            text-transform: capitalize;
            border-radius: 50px;
            background: rgba(174, 39, 139, 0.10);
            padding: 8px 20px;
        }

        .img-box {
            position: relative;

            border-radius: 30px;

            svg {
                position: absolute;
                left: -50px;
                top: -25px;
                z-index: 1;
            }
        }
    }
}

.highlight {
    padding: 50px 0 0 0;

    .content-box {

        border-radius: 30px;
        border: 1px solid #3FC6EF;
        padding: 86px 67px;

        display: grid;
        grid-template-columns: 2fr 6fr;

        .heading-box {
            h2 {
                color: #AE278B;
                font-family: $dancing_font;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px;
                margin: 0;
                padding: 0 0 10px 0;
                text-transform: capitalize;
            }

            h3 {

                color: #000;
                font-family: 'gradus-font';
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 54px;
                /* 112.5% */
                text-transform: capitalize;

            }

        }

        .item-wrap {
            display: flex;
            align-items: center;
            gap: 50px;

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 14px;

                .img-box {
                    border-radius: 20px;
                    width: fit-content;

                    background: rgba(174, 39, 139, 0.10);
                }

                p {
                    color: #000;
                    text-align: center;
                    font-family: $nunito_font;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    text-transform: capitalize;
                }

                &:nth-child(1) {
                    .img-box {
                        padding: 30px 18px;
                    }
                }

                &:nth-child(2) {
                    .img-box {
                        padding: 25px 28px;
                    }
                }

                &:nth-child(3) {
                    .img-box {
                        padding: 24px 28px;
                    }
                }

                &:nth-child(4) {
                    .img-box {
                        padding: 27px 23px;
                    }
                }
            }

        }
    }
}

// brand section

.brand-section {
    padding: 50px 0 0 0;

    .content-box {
        border-radius: 30px;
        background: #F7F7F7;
        padding: 90px 60px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            mix-blend-mode: multiply;
        }
    }
}

.cta {

    padding: 50px 0;

    .content-box {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 30px;
        background-image: url('../img/bg/cta.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;

        h2 {
            color: #FFF;
            text-align: center;
            font-family: 'gradus-font';
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            // line-height: 50px;
            /* 156.25% */
            text-transform: capitalize;
            text-align: center;
            margin: 0;

            padding: 0 0 20px 0;
        }

        h3 {
            color: #FFF;
            font-family: $dancing_font;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            // line-height: 50px;
            /* 156.25% */
            text-transform: capitalize;
            text-align: center;
            margin: 0;
            padding: 0 0 10px 0;

        }

        .input-wrap {
            border-radius: 66px;
            border: 1px solid #FFF;
            background: rgba(255, 255, 255, 0.60);
            width: fit-content;

            width: 50%;
            // margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;

            input {
                width: 100%;
                border: none;
                background-color: transparent;
                padding: 17px 20px;

                margin: 0;
            }

            input:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }

            button {
                border-radius: 50px;
                background: #AE278B;
                color: #FFF;
                text-align: center;
                font-family: $nunito_font;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                text-transform: capitalize;
                padding: 9px 30px;
                border: none;
            }
        }

    }

}

.testimonial-section {
    padding: 50px 0 0 0;



    .content-box {
        display: grid;
        grid-template-columns: 2fr 4fr;
        place-items: center;

        .heading-box {

            h3 {
                color: #AE278B;
                font-family: $dancing_font;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px;
                margin: 0;
                padding: 0 0 10px 0;
                text-transform: capitalize;
            }

            h2 {
                color: #000;
                font-family: 'gradus-font';
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px;
                margin: 0;
                padding: 0 0 27px 0;
                text-transform: capitalize;
            }

            a {
                color: #000;
                font-family: $nunito_font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 60px;
                /* 428.571% */
                text-transform: capitalize;
                border-radius: 50px;
                background: rgba(174, 39, 139, 0.10);
                padding: 6px 17px;
            }

        }


        .slider-box {
            display: flex;
            width: 100%;

            .panel {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 400px;
                border-radius: 20px;
                cursor: pointer;
                flex: 1;
                margin: 10px;
                position: relative;
                -webkit-transition: all 700ms ease-in;
                // border: 1px solid red;

                display: flex;
                gap: 10px;


                .testimonial-content {
                    padding: 50px;
                    width: 100%;
                    border-radius: 30px;
                    border: 1px solid #AE278B;
                    background: #FFF;

                    display: none;
                    transition: opacity 0.3s ease-in 0.4s;



                    .top {

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h6 {
                            color: #000;
                            font-family: $dm-font;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 116%;
                            /* 25.52px */
                            letter-spacing: -1.1px;
                        }

                        p {
                            color: #626262;
                            text-align: center;
                            font-family: $dm-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 136%;
                            /* 21.76px */
                            letter-spacing: -0.8px;
                        }

                        span {
                            padding: 8px 14px;
                            margin: 0 7px 0 0;
                            border-radius: 50%;
                            background-color: $black_color;
                            color: #FFF;
                            text-align: center;
                            font-family: $dm-font;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 116%;
                            /* 20.88px */
                            letter-spacing: -0.9px;
                        }
                    }

                    .main-text-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 33px;

                        p {

                            color: #626262;
                            text-align: center;
                            font-family: $dm-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 136%;
                            /* 21.76px */

                        }
                    }
                }

                .bar {
                    border-radius: 20px;
                    background: #AE278B;

                    width: 117px;
                    height: 100%;

                    padding: 30px 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    span {
                        padding: 8px 14px;

                        border-radius: 50%;
                        background-color: $black_color;
                        color: #FFF;
                        text-align: center;
                        font-family: 'gradus-font';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 116%;
                        /* 20.88px */
                        letter-spacing: -0.9px;
                    }
                }

            }

        }

        .panel.active {
            flex: 5;

            .bar {
                display: none;
            }

            .testimonial-content {
                display: flex;
                flex-direction: column;
                gap: 50px;
                transition: opacity 0.3s ease-in 0.4s;

                .top {
                    h6 {}

                    p {}

                    span {}
                }
            }

            .main-text-box {
                p {}
            }
        }


    }


}

footer {

    background-color: $black_color;
    padding: 60px 0 0 0;

    .content-box {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 84px;

        .box {
            .connect-box {
                display: grid;
                gap: 10px;

                svg {
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                }

                h4 {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;

                    color: $white_color;
                    font-family: $nunito_font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                    /* 166.667% */
                    text-transform: capitalize;
                    margin: 0;
                }

                a {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;

                    color: #7B7B7B;
                    font-family: $nunito_font;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                    /* 200% */
                    text-transform: capitalize;
                }


            }

            .link-list {
                padding: 60px 0 38px 0;
                display: flex;
                flex-direction: column;

                a {
                    color: #969696;
                    font-family: $nunito_font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 34px;
                    /* 212.5% */
                    text-transform: capitalize;
                }

                iframe {
                    border-radius: 20px;
                    width: 267px;
                }

            }
        }
    }

    .copy-right-box {
        border-top: 1px solid rgba(255, 255, 255, 0.50);
        padding: 20px 0 60px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mid {
            a {
                color: rgba(255, 255, 255, 0.70);
                font-family: 'gradus-font';
                font-size: 15.2px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -0.152px;
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 30px;

            p {
                margin: 0;
                color: rgba(255, 255, 255, 0.70);
                font-family: 'gradus-font';
                font-size: 15.2px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }

            .social-links {
                display: flex;
                align-items: center;
                gap: 17px;
            }
        }
    }
}

@media only screen and (max-width: $tab) {

    header {
        .content-box {
            position: relative;

            .logo-box {
                display: flex;
                align-items: center;
                gap: 10px;

                button {
                    display: block;

                    img {
                        max-width: 30px;
                    }
                }

                .navbar-brand {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0);

                    img {
                        max-width: 100px;
                    }
                }
            }

            .search-box {
                input::placeholder {
                    font-size: 14px;
                }
            }
        }


        .right-side {
            gap: 10px;
            margin: 0;
        }

        .navbar {
            border: none;
            border-top: 1px solid #B9B9B9;
        }
    }

    .page-width {
        padding: 0 1rem;
    }

    .highlight {

        .content-box {
            grid-template-columns: 1fr;

            .item-wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .item {
                    p {
                        font-size: 16px;
                        line-height: normal;
                    }
                }
            }

        }

    }


    footer {
        .content-box {
            grid-template-columns: 1fr;
        }

        .copy-right-box {
            flex-direction: column;
        }
    }


    .product-section {
        padding: 30px 0 0 0;

        .content-box {


            .item {

                p {
                    font-size: 16px;
                    padding: 35px 0 0 0;
                }
            }

            .swiper {
                padding: 35px 0;
            }
        }
    }

    .offer-section {
        padding: 60px 0 0 0;

        .content-box {
            grid-template-columns: 1fr;

            .left {

                h3,
                h2 {
                    font-size: 28px;
                    line-height: normal;
                    margin: 0;
                }
            }

            .right {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 30px 0 0 0;
                gap: 10px;

                .box {
                    p {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    .ribbon_one {
        padding: 30px 0 0 0;

        .content-box {
            img {
                width: 100%;
                height: 30lvh;
                object-fit: cover;
            }

            .text-box {
                left: 28px;
                width: 100%;

                h2,
                h3 {
                    font-size: 28px;
                    line-height: normal;
                }
            }
        }
    }

    .ribbon_two {
        padding: 10px 0 0 0;

        .content-box {
            img {
                width: 100%;
                height: 30lvh;
                object-fit: cover;
            }

            .text-box {
                left: -40px;
                width: 100%;
                text-align: end;

                h2,
                h3 {
                    font-size: 38px;
                    line-height: normal;
                }
            }
        }
    }

    .ribbon_three {
        padding: 30px 0 0 0;

        .content-box {
            .icon-box {
                position: static;
                transform: none;
                display: none;
            }

            .text-box {
                left: 28px;
                width: 100%;
                position: static;
                transform: none;

                h2,
                h3 {
                    font-size: 38px;
                    line-height: normal;


                }

                h2 {
                    color: $black_color;
                    padding: 10px 0 0 0;
                }

                h3 {
                    color: #AE278B;
                    padding: 0;
                }

                p {
                    font-size: 18px;
                    line-height: normal;
                    color: $black_color;
                    padding: 10px 0 0 0;
                }

                a {
                    background-color: rgba(174, 39, 139, 0.1);

                }
            }

            .img-box {
                img {
                    width: 100%;
                    height: 30lvh;
                    object-fit: cover;
                }
            }
        }
    }

    .about-section {
        padding: 30px 0 0 0;

        .content-box {
            grid-template-columns: 1fr;
            gap: 20px;

            .img-box {
                svg {
                    position: absolute;
                    left: auto;
                    right: 11px;
                    top: -57px;
                    z-index: 1;
                    height: 100px;
                    width: auto;
                }
            }

            h2,
            h3 {
                font-size: 38px;
                line-height: normal;
                padding: 0;
            }

            p {
                padding: 10px 0 0 0;
                font-size: 14px;
            }

            a {
                font-size: 12px;
            }
        }
    }

    .highlight {
        padding: 30px 0 0 0;

        .content-box {
            padding: 34px 16px;

            .item-wrap {
                padding: 30px 0 0 0;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            .heading-box {
                text-align: center;

                h2,
                h3 {
                    font-size: 38px;
                    line-height: normal;
                    margin: 0;
                    padding: 0;
                }
            }

            .item {
                p {
                    font-size: 16px;
                    line-height: normal;
                }


            }


        }
    }

    .brand-section {
        padding: 30px 0 0 0;

        .content-box {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            padding: 30px;
        }
    }

    .testimonial-section {
        padding: 30px 0 0 0;


        .content-box {


            grid-template-columns: 1fr;
            place-items: flex-start;

            .heading-box {

                h2,
                h3 {
                    padding: 0;
                }

                a {
                    font-size: 12px;
                }
            }

            .slider-box {
                .panel {


                    .testimonial-content {
                        padding: 25px;

                        .top {
                            p {
                                font-size: 12px;
                                line-height: normal;
                                margin: 0;
                            }

                            h6 {
                                font-size: 16px;
                                line-height: normal;

                            }
                        }

                        .main-text-box {
                            p {
                                font-size: 16px;
                            }
                        }
                    }

                    .bar {
                        width: 100%;
                        flex-direction: row;
                    }
                }
            }

            .heading-box {

                h3,
                h2 {
                    font-size: 38px;
                    line-height: normal;
                }

            }


        }

        .slider-box {
            flex-direction: column;
        }
    }

    .cta {
        padding: 30px 0;

        .content-box {
            padding: 20px;

            h3,
            h2 {
                font-size: 38px;
            }

            .input-wrap {
                width: 100%;

                input {
                    font-size: 14px;
                    padding: 14px 10px;

                }

                &::placeholder {
                    font-size: 14px;
                }

                button {
                    font-size: 13px;
                }
            }
        }
    }

    footer {
        padding: 60px 0px 0 0;

        .content-box {
            gap: 14px;


            .box {

                .top-box {
                    padding: 0 0 31px 0;
                    text-align: center;
                }

                .link-list {
                    padding: 0;
                    text-align: center;

                    iframe {
                        border-radius: 20px;
                        width: 267px;
                        margin: 0 auto 37px;
                    }
                }

                .connect-box {
                    display: none;
                }
            }
        }

        .copy-right-box {
            gap: 12px;
            padding: 20px 0;

            .mid {
                a {
                    font-family: $dm-font;
                }
            }

            .right {
                p {
                    font-family: $dm-font;
                }
            }
        }
    }

}


@media only screen and (max-width: $mobile) {

    header {
        .content-box {
            position: relative;

            .logo-box {
                display: flex;
                align-items: center;
                gap: 10px;

                button {
                    display: block;

                    img {
                        max-width: 30px;
                    }
                }

                .navbar-brand {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0);

                    img {
                        max-width: 100px;
                    }
                }
            }

            .search-box {
                input::placeholder {
                    font-size: 14px;
                }
            }
        }


        .right-side {
            gap: 10px;
            margin: 0;
        }

        .navbar {
            border: none;
            border-top: 1px solid #B9B9B9;
        }
    }

    .page-width {
        padding: 0 1rem;
    }

    .highlight {

        .content-box {
            grid-template-columns: 1fr;

            .item-wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .item {
                    p {
                        font-size: 16px;
                        line-height: normal;
                    }
                }
            }

        }

    }


    footer {
        .content-box {
            grid-template-columns: 1fr;
        }

        .copy-right-box {
            flex-direction: column;
        }
    }


    .product-section {
        padding: 30px 0 0 0;

        .content-box {


            .item {

                p {
                    font-size: 12px;
                    padding: 13px 0 0 0;
                }
            }

            .swiper {
                padding: 35px 0;
            }
        }
    }

    .offer-section {
        padding: 30px 0 0 0;

        .content-box {
            grid-template-columns: 1fr;

            .left {

                h3,
                h2 {
                    font-size: 28px;
                    line-height: normal;
                    margin: 0;
                }
            }

            .right {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 10px 0 0 0;
                gap: 10px;

                .box {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .ribbon_one {
        padding: 30px 0 0 0;

        .content-box {
            img {
                width: 100%;
                height: 30lvh;
                object-fit: cover;
            }

            .text-box {
                left: 28px;
                width: 100%;

                h2,
                h3 {
                    font-size: 28px;
                    line-height: normal;
                }
            }
        }
    }

    .ribbon_two {
        padding: 10px 0 0 0;

        .content-box {
            img {
                width: 100%;
                height: 30lvh;
                object-fit: cover;
            }

            .text-box {
                left: 28px;
                width: 100%;

                h2,
                h3 {
                    font-size: 28px;
                    line-height: normal;
                }
            }
        }
    }

    .ribbon_three {
        padding: 30px 0 0 0;

        .content-box {
            .icon-box {
                position: static;
                transform: none;
                display: none;
            }

            .text-box {
                left: 28px;
                width: 100%;
                position: static;
                transform: none;

                h2,
                h3 {
                    font-size: 28px;
                    line-height: normal;


                }

                h2 {
                    color: $black_color;
                    padding: 10px 0 0 0;
                }

                h3 {
                    color: #AE278B;
                    padding: 0;
                }

                p {
                    font-size: 16px;
                    line-height: normal;
                    color: $black_color;
                    padding: 10px 0 0 0;
                }

                a {
                    background-color: rgba(174, 39, 139, 0.1);

                }
            }

            .img-box {
                img {
                    width: 100%;
                    height: 30lvh;
                    object-fit: cover;
                }
            }
        }
    }

    .about-section {
        padding: 30px 0 0 0;

        .content-box {
            grid-template-columns: 1fr;
            gap: 20px;

            .img-box {
                svg {
                    position: absolute;
                    left: auto;
                    right: 11px;
                    top: -57px;
                    z-index: 1;
                    height: 100px;
                    width: auto;
                }
            }

            h2,
            h3 {
                font-size: 28px;
                line-height: normal;
                padding: 0;
            }

            p {
                padding: 10px 0 0 0;
                font-size: 14px;
            }

            a {
                font-size: 12px;
            }
        }
    }

    .highlight {
        padding: 30px 0 0 0;

        .content-box {
            padding: 34px 16px;

            .item-wrap {
                padding: 30px 0 0 0;
            }

            .heading-box {
                text-align: center;

                h2,
                h3 {
                    font-size: 28px;
                    line-height: normal;
                    margin: 0;
                    padding: 0;
                }
            }

            .item {
                p {
                    font-size: 16px;
                    line-height: normal;
                }


            }


        }
    }

    .brand-section {
        padding: 30px 0 0 0;

        .content-box {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding: 30px;
        }
    }

    .testimonial-section {
        padding: 30px 0 0 0;


        .content-box {


            grid-template-columns: 1fr;
            place-items: flex-start;

            .heading-box {

                h2,
                h3 {
                    padding: 0;
                }

                a {
                    font-size: 12px;
                }
            }

            .slider-box {
                .panel {


                    .testimonial-content {
                        padding: 25px;

                        .top {
                            p {
                                font-size: 12px;
                                line-height: normal;
                                margin: 0;
                            }

                            h6 {
                                font-size: 16px;
                                line-height: normal;

                            }
                        }

                        .main-text-box {
                            p {
                                font-size: 12px;
                            }
                        }
                    }

                    .bar {
                        width: 100%;
                        flex-direction: row;
                    }
                }
            }

            .heading-box {

                h3,
                h2 {
                    font-size: 28px;
                    line-height: normal;
                }

            }


        }

        .slider-box {
            flex-direction: column;
        }
    }

    .cta {
        padding: 30px 0;

        .content-box {
            padding: 20px;

            h3,
            h2 {
                font-size: 28px;
            }

            .input-wrap {
                width: 100%;

                input {
                    font-size: 14px;
                    padding: 14px 10px;

                }

                &::placeholder {
                    font-size: 14px;
                }

                button {
                    font-size: 13px;
                }
            }
        }
    }

    footer {
        padding: 60px 0px 0 0;

        .content-box {
            gap: 14px;


            .box {

                .top-box {
                    padding: 0 0 31px 0;
                    text-align: center;
                }

                .link-list {
                    padding: 0;
                    text-align: center;

                    iframe {
                        border-radius: 20px;
                        width: 267px;
                        margin: 0 auto 37px;
                    }
                }

                .connect-box {
                    display: none;
                }
            }
        }

        .copy-right-box {
            gap: 12px;
            padding: 20px 0;

            .mid {
                a {
                    font-family: $dm-font;
                }
            }

            .right {
                p {
                    font-family: $dm-font;
                }
            }
        }
    }

}

