@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@font-face {
  font-family: "gradus-font";
  src: url("../font/gradus-font/Fontspring-DEMO-gradus-bold.otf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.page-width {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.875rem;
}

header .topbar {
  background-color: #000;
  padding: 7px 0;
}
header .topbar .round-bx {
  background-color: #AE278B;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .topbar .round-bx img {
  width: 25px;
}
header .topbar .marq-text {
  padding: 0 17px;
  font-size: 15px;
}
header .content-box {
  padding: 12px 0;
}
header .content-box .logo-box button {
  display: none;
}
header .content-box .search-box {
  border-radius: 16px;
  border: 1px solid #B9B9B9;
  background: #FFFFFF;
  position: relative;
  width: 100%;
}
header .content-box .search-box input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 11px 23px;
}
header .content-box .search-box input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
header .content-box .search-box button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  box-shadow: none;
  background-color: transparent;
}
header .right-side {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 36px;
}
header .navbar {
  border-top: 1px solid #939393;
  border-bottom: 1px solid #939393;
}
header .navbar .navbar-nav {
  display: flex;
  gap: 50px;
}
header .navbar .nav-item .nav-link {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16.2px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.648px;
  text-transform: capitalize;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
header .navbar .nav-item .nav-link:hover {
  color: #AE278B;
  transition: all 0.3s ease-in-out;
  font-size: 16.5px;
}

.hero-section {
  border-radius: 30px;
}
.hero-section .swiper {
  border-radius: 30px;
}
.hero-section .swiper .swiper-pagination-bullet-active {
  background-color: #FFFFFF !important;
}
.hero-section .img-box {
  padding: 20px 0 0 0;
  border-radius: 30px;
}
.hero-section .img-box img {
  border-radius: 30px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-section {
  padding: 50px 0 0 0;
}
.product-section .content-box {
  border-radius: 30px;
  background: #F2F2F2;
  position: relative;
}
.product-section .content-box .swiper {
  padding: 68px 0;
}
.product-section .content-box .swiper-button-lock {
  display: block;
}
.product-section .content-box .item .img-box {
  position: relative;
  text-align: center;
}
.product-section .content-box .item .img-box svg {
  transition: all 0.3s ease-in-out;
}
.product-section .content-box .item .img-box img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.product-section .content-box .item p {
  color: #000000;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
  text-transform: capitalize;
  width: 70%;
  margin: auto;
  padding: 40px 0 0 0;
}
.product-section .content-box .item:hover .img-box svg {
  transform: scale(1.6);
  transition: all 0.3s ease-in-out;
}
.product-section .content-box .item:hover .img-box img {
  transform: translate(-50%, -50%) scale(1.2);
  transition: all 0.3s ease-in-out;
}

.offer-section {
  padding: 50px 0 0;
}
.offer-section .content-box {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.offer-section .content-box .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offer-section .content-box .left h3 {
  color: #3FC6EF;
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
}
.offer-section .content-box .left h2 {
  color: #000;
  font-family: "gradus-font";
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
}
.offer-section .content-box .right {
  display: flex;
  gap: 20px;
}
.offer-section .content-box .right .box {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
}
.offer-section .content-box .right .box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  opacity: 0.1;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.offer-section .content-box .right .box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 89%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.8px;
  color: #000;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out;
}
.offer-section .content-box .right .box svg {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
.offer-section .content-box .right .box:hover img {
  transform: scale(1.2);
  opacity: 1;
}
.offer-section .content-box .right .box:hover p {
  opacity: 0;
}
.offer-section .content-box .right .box:hover svg {
  opacity: 0;
}
.offer-section .content-box .right .box:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(136, 187, 203, 0.1254901961);
}
.offer-section .content-box .right .box:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 152, 196, 0.1254901961);
}
.offer-section .content-box .right .box:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 241, 245, 0.1254901961);
}
.offer-section .content-box .right .box:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 234, 243, 0.1254901961);
}

.ribbon_one {
  padding: 50px 0 0 0;
}
.ribbon_one .content-box {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.ribbon_one .content-box img {
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.ribbon_one:hover img {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.ribbon_one:hover a {
  background-color: #AE278B;
  color: #000000;
}
.ribbon_one .text-box {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translate(0, -50%);
}
.ribbon_one .text-box h3 {
  color: #FFF;
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0 6px 0;
}
.ribbon_one .text-box h2 {
  color: #FFF;
  font-family: "gradus-font";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
  padding: 0 0 18px 0;
  margin: 0;
}
.ribbon_one .text-box a {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  /* 428.571% */
  text-transform: capitalize;
  border-radius: 50px;
  background: rgba(10, 10, 10, 0.2);
  padding: 7px 17px;
}

.ribbon_two {
  padding: 20px 0 0 0;
}
.ribbon_two .content-box {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.ribbon_two .content-box img {
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.ribbon_two:hover img {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.ribbon_two:hover a {
  background-color: #AE278B;
  color: #000000;
}
.ribbon_two .text-box {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translate(0, -50%);
}
.ribbon_two .text-box h3 {
  color: #FFF;
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0 8px 0;
}
.ribbon_two .text-box h2 {
  color: #FFF;
  font-family: "gradus-font";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0 20px 0;
}
.ribbon_two .text-box a {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  /* 428.571% */
  text-transform: capitalize;
  border-radius: 50px;
  background: rgba(10, 10, 10, 0.2);
  padding: 7px 17px;
}

.ribbon_three {
  padding: 20px 0 0 0;
}
.ribbon_three .content-box {
  position: relative;
}
.ribbon_three .content-box .text-box {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translate(0, -50%);
  width: 50%;
  z-index: 1;
}
.ribbon_three .content-box .text-box h3 {
  color: #FFFFFF;
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0 18px 0;
}
.ribbon_three .content-box .text-box h2 {
  color: #FFFFFF;
  font-family: "gradus-font";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0 26px 0;
}
.ribbon_three .content-box .text-box p {
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0 25px 0;
}
.ribbon_three .content-box .text-box a {
  color: #000000;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  text-transform: capitalize;
  padding: 7px 25px;
  background-color: #FFFFFF;
  border-radius: 50px;
}
.ribbon_three .content-box .icon-box {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.ribbon_three .content-box .icon-box svg {
  transition: all 0.3s ease-in;
}
.ribbon_three .content-box .icon-box svg circle {
  transition: all 0.3s ease-in;
}
.ribbon_three .content-box .icon-box svg path {
  transition: all 0.3s ease-in;
}
.ribbon_three .content-box .img-box {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.ribbon_three .content-box .img-box img {
  transition: all 0.3s ease-in;
  width: 100%;
}
.ribbon_three:hover img {
  transform: scale(1.06);
  transition: all 0.3s ease-in;
}
.ribbon_three:hover .icon-box svg {
  fill: #FFFFFF;
  transition: all 0.3s ease-in;
}
.ribbon_three:hover .icon-box svg circle {
  opacity: 1;
  transition: all 0.3s ease-in;
}
.ribbon_three:hover .icon-box svg path {
  fill: #AE278B;
  transition: all 0.3s ease-in;
}

.about-section {
  padding: 50px 0 0 0;
}
.about-section .content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 100px;
}
.about-section .content-box h2 {
  color: #AE278B;
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0 10px 0;
}
.about-section .content-box h3 {
  color: #000;
  font-family: "gradus-font";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  padding: 0 0 30px 0;
  letter-spacing: -0.96px;
  text-transform: capitalize;
}
.about-section .content-box p {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  text-transform: capitalize;
  margin: 0;
  padding: 0 0 28px 0;
}
.about-section .content-box a {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  /* 428.571% */
  text-transform: capitalize;
  border-radius: 50px;
  background: rgba(174, 39, 139, 0.1);
  padding: 8px 20px;
}
.about-section .content-box .img-box {
  position: relative;
  border-radius: 30px;
}
.about-section .content-box .img-box svg {
  position: absolute;
  left: -50px;
  top: -25px;
  z-index: 1;
}

.highlight {
  padding: 50px 0 0 0;
}
.highlight .content-box {
  border-radius: 30px;
  border: 1px solid #3FC6EF;
  padding: 86px 67px;
  display: grid;
  grid-template-columns: 2fr 6fr;
}
.highlight .content-box .heading-box h2 {
  color: #AE278B;
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  padding: 0 0 10px 0;
  text-transform: capitalize;
}
.highlight .content-box .heading-box h3 {
  color: #000;
  font-family: "gradus-font";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  /* 112.5% */
  text-transform: capitalize;
}
.highlight .content-box .item-wrap {
  display: flex;
  align-items: center;
  gap: 50px;
}
.highlight .content-box .item-wrap .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.highlight .content-box .item-wrap .item .img-box {
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(174, 39, 139, 0.1);
}
.highlight .content-box .item-wrap .item p {
  color: #000;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
}
.highlight .content-box .item-wrap .item:nth-child(1) .img-box {
  padding: 30px 18px;
}
.highlight .content-box .item-wrap .item:nth-child(2) .img-box {
  padding: 25px 28px;
}
.highlight .content-box .item-wrap .item:nth-child(3) .img-box {
  padding: 24px 28px;
}
.highlight .content-box .item-wrap .item:nth-child(4) .img-box {
  padding: 27px 23px;
}

.brand-section {
  padding: 50px 0 0 0;
}
.brand-section .content-box {
  border-radius: 30px;
  background: #F7F7F7;
  padding: 90px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-section .content-box img {
  mix-blend-mode: multiply;
}

.cta {
  padding: 50px 0;
}
.cta .content-box {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-image: url("../img/bg/cta.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.cta .content-box h2 {
  color: #FFF;
  text-align: center;
  font-family: "gradus-font";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  /* 156.25% */
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  padding: 0 0 20px 0;
}
.cta .content-box h3 {
  color: #FFF;
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  /* 156.25% */
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  padding: 0 0 10px 0;
}
.cta .content-box .input-wrap {
  border-radius: 66px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.6);
  width: -moz-fit-content;
  width: fit-content;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.cta .content-box .input-wrap input {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 17px 20px;
  margin: 0;
}
.cta .content-box .input-wrap input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.cta .content-box .input-wrap button {
  border-radius: 50px;
  background: #AE278B;
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  padding: 9px 30px;
  border: none;
}

.testimonial-section {
  padding: 50px 0 0 0;
}
.testimonial-section .content-box {
  display: grid;
  grid-template-columns: 2fr 4fr;
  place-items: center;
}
.testimonial-section .content-box .heading-box h3 {
  color: #AE278B;
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  padding: 0 0 10px 0;
  text-transform: capitalize;
}
.testimonial-section .content-box .heading-box h2 {
  color: #000;
  font-family: "gradus-font";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  padding: 0 0 27px 0;
  text-transform: capitalize;
}
.testimonial-section .content-box .heading-box a {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  /* 428.571% */
  text-transform: capitalize;
  border-radius: 50px;
  background: rgba(174, 39, 139, 0.1);
  padding: 6px 17px;
}
.testimonial-section .content-box .slider-box {
  display: flex;
  width: 100%;
}
.testimonial-section .content-box .slider-box .panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  border-radius: 20px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
  display: flex;
  gap: 10px;
}
.testimonial-section .content-box .slider-box .panel .testimonial-content {
  padding: 50px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #AE278B;
  background: #FFF;
  opacity: 0;
  display: none;
  transition: all 0.3s ease-in 0.4s;
}
.testimonial-section .content-box .slider-box .panel .testimonial-content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonial-section .content-box .slider-box .panel .testimonial-content .top h6 {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
  /* 25.52px */
  letter-spacing: -1.1px;
  opacity: 0;
  transition: all 1s ease-in 0.4s;
}
.testimonial-section .content-box .slider-box .panel .testimonial-content .top p {
  color: #626262;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
  /* 21.76px */
  letter-spacing: -0.8px;
  opacity: 0;
  transition: all 1s ease-in 0.4s;
}
.testimonial-section .content-box .slider-box .panel .testimonial-content .top span {
  padding: 8px 14px;
  margin: 0 7px 0 0;
  border-radius: 50%;
  background-color: #000000;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
  /* 20.88px */
  letter-spacing: -0.9px;
  opacity: 0;
  transition: all 1s ease-in 0.4s;
}
.testimonial-section .content-box .slider-box .panel .testimonial-content .main-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
}
.testimonial-section .content-box .slider-box .panel .testimonial-content .main-text-box p {
  color: #626262;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 136%;
}
.testimonial-section .content-box .slider-box .panel .bar {
  border-radius: 20px;
  background: #AE278B;
  width: 117px;
  height: 100%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-section .content-box .slider-box .panel .bar span {
  padding: 8px 14px;
  border-radius: 50%;
  background-color: #000000;
  color: #FFF;
  text-align: center;
  font-family: "gradus-font";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
  /* 20.88px */
  letter-spacing: -0.9px;
}
.testimonial-section .content-box .panel.active {
  flex: 4;
}
.testimonial-section .content-box .panel.active .bar {
  display: none;
}
.testimonial-section .content-box .panel.active .testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  opacity: 1;
  transition: all 0.3s ease-in 0.4s;
}
.testimonial-section .content-box .panel.active .testimonial-content .top h6 {
  opacity: 1;
  transition: all 1s ease-in 0.4s;
}
.testimonial-section .content-box .panel.active .testimonial-content .top p {
  opacity: 1;
  transition: all 1s ease-in 0.4s;
}
.testimonial-section .content-box .panel.active .testimonial-content .top span {
  opacity: 1;
  transition: all 1s ease-in 0.4s;
}
footer {
  background-color: #000000;
  padding: 60px 0 0 0;
}
footer .content-box {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 84px;
}
footer .content-box .box .connect-box {
  display: grid;
  gap: 10px;
}
footer .content-box .box .connect-box svg {
  grid-column: 1/2;
  grid-row: 1/3;
}
footer .content-box .box .connect-box h4 {
  grid-column: 2/3;
  grid-row: 1/2;
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 166.667% */
  text-transform: capitalize;
  margin: 0;
}
footer .content-box .box .connect-box a {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #7B7B7B;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 200% */
  text-transform: capitalize;
}
footer .content-box .box .link-list {
  padding: 60px 0 38px 0;
  display: flex;
  flex-direction: column;
}
footer .content-box .box .link-list a {
  color: #969696;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  /* 212.5% */
  text-transform: capitalize;
}
footer .content-box .box .link-list iframe {
  border-radius: 20px;
  width: 267px;
}
footer .copy-right-box {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .copy-right-box .mid a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "gradus-font";
  font-size: 15.2px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.152px;
}
footer .copy-right-box .right {
  display: flex;
  align-items: center;
  gap: 30px;
}
footer .copy-right-box .right p {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: "gradus-font";
  font-size: 15.2px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
footer .copy-right-box .right .social-links {
  display: flex;
  align-items: center;
  gap: 17px;
}

@media only screen and (max-width: 999px) {
  header .content-box {
    position: relative;
  }
  header .content-box .logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  header .content-box .logo-box button {
    display: block;
  }
  header .content-box .logo-box button img {
    max-width: 30px;
  }
  header .content-box .logo-box .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  header .content-box .logo-box .navbar-brand img {
    max-width: 100px;
  }
  header .content-box .search-box input::-moz-placeholder {
    font-size: 14px;
  }
  header .content-box .search-box input::placeholder {
    font-size: 14px;
  }
  header .right-side {
    gap: 10px;
    margin: 0;
  }
  header .navbar {
    border: none;
    border-top: 1px solid #B9B9B9;
  }
  .page-width {
    padding: 0 1rem;
  }
  .highlight .content-box {
    grid-template-columns: 1fr;
  }
  .highlight .content-box .item-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .highlight .content-box .item-wrap .item p {
    font-size: 16px;
    line-height: normal;
  }
  footer .content-box {
    grid-template-columns: 1fr;
  }
  footer .copy-right-box {
    flex-direction: column;
  }
  .product-section {
    padding: 30px 0 0 0;
  }
  .product-section .content-box .item p {
    font-size: 16px;
    padding: 35px 0 0 0;
  }
  .product-section .content-box .swiper {
    padding: 35px 0;
  }
  .offer-section {
    padding: 60px 0 0 0;
  }
  .offer-section .content-box {
    grid-template-columns: 1fr;
  }
  .offer-section .content-box .left h3,
  .offer-section .content-box .left h2 {
    font-size: 38px;
    line-height: normal;
    margin: 0;
  }
  .offer-section .content-box .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0 0 0;
    gap: 10px;
  }
  .offer-section .content-box .right .box p {
    font-size: 25px;
  }
  .ribbon_one {
    padding: 30px 0 0 0;
  }
  .ribbon_one .content-box img {
    width: 100%;
    height: 30lvh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ribbon_one .content-box .text-box {
    left: 28px;
    width: 100%;
  }
  .ribbon_one .content-box .text-box h2,
  .ribbon_one .content-box .text-box h3 {
    font-size: 28px;
    line-height: normal;
  }
  .ribbon_two {
    padding: 10px 0 0 0;
  }
  .ribbon_two .content-box img {
    width: 100%;
    height: 30lvh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ribbon_two .content-box .text-box {
    left: -40px;
    width: 100%;
    text-align: end;
  }
  .ribbon_two .content-box .text-box h2,
  .ribbon_two .content-box .text-box h3 {
    font-size: 38px;
    line-height: normal;
  }
  .ribbon_three {
    padding: 30px 0 0 0;
  }
  .ribbon_three .content-box .icon-box {
    position: static;
    transform: none;
    display: none;
  }
  .ribbon_three .content-box .text-box {
    left: 28px;
    width: 100%;
    position: static;
    transform: none;
  }
  .ribbon_three .content-box .text-box h2,
  .ribbon_three .content-box .text-box h3 {
    font-size: 38px;
    line-height: normal;
  }
  .ribbon_three .content-box .text-box h2 {
    color: #000000;
    padding: 10px 0 0 0;
  }
  .ribbon_three .content-box .text-box h3 {
    color: #AE278B;
    padding: 0;
  }
  .ribbon_three .content-box .text-box p {
    font-size: 18px;
    line-height: normal;
    color: #000000;
    padding: 10px 0 0 0;
  }
  .ribbon_three .content-box .text-box a {
    background-color: rgba(174, 39, 139, 0.1);
  }
  .ribbon_three .content-box .img-box img {
    width: 100%;
    height: 30lvh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-section {
    padding: 30px 0 0 0;
  }
  .about-section .content-box {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .about-section .content-box .img-box svg {
    position: absolute;
    left: auto;
    right: 11px;
    top: -57px;
    z-index: 1;
    height: 100px;
    width: auto;
  }
  .about-section .content-box h2,
  .about-section .content-box h3 {
    font-size: 38px;
    line-height: normal;
    padding: 0;
  }
  .about-section .content-box p {
    padding: 10px 0 0 0;
    font-size: 14px;
  }
  .about-section .content-box a {
    font-size: 12px;
  }
  .highlight {
    padding: 30px 0 0 0;
  }
  .highlight .content-box {
    padding: 34px 16px;
  }
  .highlight .content-box .item-wrap {
    padding: 30px 0 0 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .highlight .content-box .heading-box {
    text-align: center;
  }
  .highlight .content-box .heading-box h2,
  .highlight .content-box .heading-box h3 {
    font-size: 38px;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
  .highlight .content-box .item p {
    font-size: 16px;
    line-height: normal;
  }
  .brand-section {
    padding: 30px 0 0 0;
  }
  .brand-section .content-box {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
  }
  .testimonial-section {
    padding: 30px 0 0 0;
  }
  .testimonial-section .content-box {
    grid-template-columns: 1fr;
    place-items: flex-start;
  }
  .testimonial-section .content-box .heading-box h2,
  .testimonial-section .content-box .heading-box h3 {
    padding: 0;
  }
  .testimonial-section .content-box .heading-box a {
    font-size: 12px;
  }
  .testimonial-section .content-box .slider-box .panel .testimonial-content {
    padding: 25px;
  }
  .testimonial-section .content-box .slider-box .panel .testimonial-content .top p {
    font-size: 12px;
    line-height: normal;
    margin: 0;
  }
  .testimonial-section .content-box .slider-box .panel .testimonial-content .top h6 {
    font-size: 16px;
    line-height: normal;
  }
  .testimonial-section .content-box .slider-box .panel .testimonial-content .main-text-box p {
    font-size: 16px;
  }
  .testimonial-section .content-box .slider-box .panel .bar {
    width: 100%;
    flex-direction: row;
  }
  .testimonial-section .content-box .heading-box h3,
  .testimonial-section .content-box .heading-box h2 {
    font-size: 38px;
    line-height: normal;
  }
  .testimonial-section .slider-box {
    flex-direction: column;
  }
  .cta {
    padding: 30px 0;
  }
  .cta .content-box {
    padding: 20px;
  }
  .cta .content-box h3,
  .cta .content-box h2 {
    font-size: 38px;
  }
  .cta .content-box .input-wrap {
    width: 100%;
  }
  .cta .content-box .input-wrap input {
    font-size: 14px;
    padding: 14px 10px;
  }
  .cta .content-box .input-wrap::-moz-placeholder {
    font-size: 14px;
  }
  .cta .content-box .input-wrap::placeholder {
    font-size: 14px;
  }
  .cta .content-box .input-wrap button {
    font-size: 13px;
  }
  footer {
    padding: 60px 0px 0 0;
  }
  footer .content-box {
    gap: 14px;
  }
  footer .content-box .box .top-box {
    padding: 0 0 31px 0;
    text-align: center;
  }
  footer .content-box .box .link-list {
    padding: 0;
    text-align: center;
  }
  footer .content-box .box .link-list iframe {
    border-radius: 20px;
    width: 267px;
    margin: 0 auto 37px;
  }
  footer .content-box .box .connect-box {
    display: none;
  }
  footer .copy-right-box {
    gap: 12px;
    padding: 20px 0;
  }
  footer .copy-right-box .mid a {
    font-family: "DM Sans", sans-serif;
  }
  footer .copy-right-box .right p {
    font-family: "DM Sans", sans-serif;
  }
}
@media only screen and (max-width: 768px) {
  header .content-box {
    position: relative;
  }
  header .content-box .logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  header .content-box .logo-box button {
    display: block;
  }
  header .content-box .logo-box button img {
    max-width: 30px;
  }
  header .content-box .logo-box .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  header .content-box .logo-box .navbar-brand img {
    max-width: 100px;
  }
  header .content-box .search-box input::-moz-placeholder {
    font-size: 14px;
  }
  header .content-box .search-box input::placeholder {
    font-size: 14px;
  }
  header .right-side {
    gap: 10px;
    margin: 0;
  }
  header .navbar {
    border: none;
    border-top: 1px solid #B9B9B9;
  }
  .page-width {
    padding: 0 1rem;
  }
  .highlight .content-box {
    grid-template-columns: 1fr;
  }
  .highlight .content-box .item-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .highlight .content-box .item-wrap .item p {
    font-size: 16px;
    line-height: normal;
  }
  footer .content-box {
    grid-template-columns: 1fr;
  }
  footer .copy-right-box {
    flex-direction: column;
  }
  .product-section {
    padding: 30px 0 0 0;
  }
  .product-section .content-box .item p {
    font-size: 12px;
    padding: 13px 0 0 0;
  }
  .product-section .content-box .swiper {
    padding: 35px 0;
  }
  .offer-section {
    padding: 30px 0 0 0;
  }
  .offer-section .content-box {
    grid-template-columns: 1fr;
  }
  .offer-section .content-box .left h3,
  .offer-section .content-box .left h2 {
    font-size: 28px;
    line-height: normal;
    margin: 0;
  }
  .offer-section .content-box .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0 0 0;
    gap: 10px;
  }
  .offer-section .content-box .right .box p {
    font-size: 16px;
  }
  .ribbon_one {
    padding: 30px 0 0 0;
  }
  .ribbon_one .content-box img {
    width: 100%;
    height: 30lvh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ribbon_one .content-box .text-box {
    left: 28px;
    width: 100%;
  }
  .ribbon_one .content-box .text-box h2,
  .ribbon_one .content-box .text-box h3 {
    font-size: 28px;
    line-height: normal;
  }
  .ribbon_two {
    padding: 10px 0 0 0;
  }
  .ribbon_two .content-box img {
    width: 100%;
    height: 30lvh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ribbon_two .content-box .text-box {
    left: 28px;
    width: 100%;
  }
  .ribbon_two .content-box .text-box h2,
  .ribbon_two .content-box .text-box h3 {
    font-size: 28px;
    line-height: normal;
  }
  .ribbon_three {
    padding: 30px 0 0 0;
  }
  .ribbon_three .content-box .icon-box {
    position: static;
    transform: none;
    display: none;
  }
  .ribbon_three .content-box .text-box {
    left: 28px;
    width: 100%;
    position: static;
    transform: none;
  }
  .ribbon_three .content-box .text-box h2,
  .ribbon_three .content-box .text-box h3 {
    font-size: 28px;
    line-height: normal;
  }
  .ribbon_three .content-box .text-box h2 {
    color: #000000;
    padding: 10px 0 0 0;
  }
  .ribbon_three .content-box .text-box h3 {
    color: #AE278B;
    padding: 0;
  }
  .ribbon_three .content-box .text-box p {
    font-size: 16px;
    line-height: normal;
    color: #000000;
    padding: 10px 0 0 0;
  }
  .ribbon_three .content-box .text-box a {
    background-color: rgba(174, 39, 139, 0.1);
  }
  .ribbon_three .content-box .img-box img {
    width: 100%;
    height: 30lvh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-section {
    padding: 30px 0 0 0;
  }
  .about-section .content-box {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .about-section .content-box .img-box svg {
    position: absolute;
    left: auto;
    right: 11px;
    top: -57px;
    z-index: 1;
    height: 100px;
    width: auto;
  }
  .about-section .content-box h2,
  .about-section .content-box h3 {
    font-size: 28px;
    line-height: normal;
    padding: 0;
  }
  .about-section .content-box p {
    padding: 10px 0 0 0;
    font-size: 14px;
  }
  .about-section .content-box a {
    font-size: 12px;
  }
  .highlight {
    padding: 30px 0 0 0;
  }
  .highlight .content-box {
    padding: 34px 16px;
  }
  .highlight .content-box .item-wrap {
    padding: 30px 0 0 0;
  }
  .highlight .content-box .heading-box {
    text-align: center;
  }
  .highlight .content-box .heading-box h2,
  .highlight .content-box .heading-box h3 {
    font-size: 28px;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
  .highlight .content-box .item p {
    font-size: 16px;
    line-height: normal;
  }
  .brand-section {
    padding: 30px 0 0 0;
  }
  .brand-section .content-box {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px;
  }
  .testimonial-section {
    padding: 30px 0 0 0;
  }
  .testimonial-section .content-box {
    grid-template-columns: 1fr;
    place-items: flex-start;
  }
  .testimonial-section .content-box .heading-box h2,
  .testimonial-section .content-box .heading-box h3 {
    padding: 0;
  }
  .testimonial-section .content-box .heading-box a {
    font-size: 12px;
  }
  .testimonial-section .content-box .slider-box .panel .testimonial-content {
    padding: 25px;
  }
  .testimonial-section .content-box .slider-box .panel .testimonial-content .top p {
    font-size: 12px;
    line-height: normal;
    margin: 0;
  }
  .testimonial-section .content-box .slider-box .panel .testimonial-content .top h6 {
    font-size: 16px;
    line-height: normal;
  }
  .testimonial-section .content-box .slider-box .panel .testimonial-content .main-text-box p {
    font-size: 12px;
  }
  .testimonial-section .content-box .slider-box .panel .bar {
    width: 100%;
    flex-direction: row;
  }
  .testimonial-section .content-box .heading-box h3,
  .testimonial-section .content-box .heading-box h2 {
    font-size: 28px;
    line-height: normal;
  }
  .testimonial-section .slider-box {
    flex-direction: column;
  }
  .cta {
    padding: 30px 0;
  }
  .cta .content-box {
    padding: 20px;
  }
  .cta .content-box h3,
  .cta .content-box h2 {
    font-size: 28px;
  }
  .cta .content-box .input-wrap {
    width: 100%;
  }
  .cta .content-box .input-wrap input {
    font-size: 14px;
    padding: 14px 10px;
  }
  .cta .content-box .input-wrap::-moz-placeholder {
    font-size: 14px;
  }
  .cta .content-box .input-wrap::placeholder {
    font-size: 14px;
  }
  .cta .content-box .input-wrap button {
    font-size: 13px;
  }
  footer {
    padding: 60px 0px 0 0;
  }
  footer .content-box {
    gap: 14px;
  }
  footer .content-box .box .top-box {
    padding: 0 0 31px 0;
    text-align: center;
  }
  footer .content-box .box .link-list {
    padding: 0;
    text-align: center;
  }
  footer .content-box .box .link-list iframe {
    border-radius: 20px;
    width: 267px;
    margin: 0 auto 37px;
  }
  footer .content-box .box .connect-box {
    display: none;
  }
  footer .copy-right-box {
    gap: 12px;
    padding: 20px 0;
  }
  footer .copy-right-box .mid a {
    font-family: "DM Sans", sans-serif;
  }
  footer .copy-right-box .right p {
    font-family: "DM Sans", sans-serif;
  }
}/*# sourceMappingURL=style.css.map */